*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    padding-top: 30px;
    text-align: center;
    border-bottom: 2px solid red;
    padding-bottom: 30px;
}
i{
    color: gold;
    margin-top: 10px;
}
.first-button{
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border-radius: 25px;
}
.second-button{
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
}