*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{ 
    margin-top: 20px;
    text-align: center;
}
li{
    padding-top: 30px;
    text-align: center;
    border-bottom: 2px solid red;
    padding: 30px;
}
i{
    color: gold;
    margin-top: 10px;
}
.first-button{
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border-radius: 25px;
}
.second-button{
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
}
.message{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    background-color: lightgreen;
    z-index: 1001;
    box-shadow: 2px 2px 10px #888888;
    border-radius: 25px;
}
.jobs-1,.jobs-2,.jobs-3{
    width: 1000px;
    margin: 0 auto;
    list-style: none;
}

.jobs-1{
    background-color: lightskyblue;
    box-shadow: 2px 2px 10px #888888;
}
.jobs-2{
    background-color: lightsalmon;
    box-shadow: 2px 2px 10px #888888;
}
.jobs-3{
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 2px 10px #888888;
}