<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <h1>All Job</h1>
        <ul class="jobs-1">
                                    
            <li  v-for='(job,index) in jobs' >
                <div>Nome azienda: {{job.company}}</div>
                <div>Posizione offerta: {{job.postion}}</div>
                <div>Descrizione lavoro: {{job.description}}</div>
                <div>Annuncio pubblicato il: {{job.created_at}}</div>
                <div>Logo azienda: {{job.logo}}</div>
                <div>Luogo: {{job.city}}</div>
                <div>Tipologia di contratto offerto: {{job.contract}}</div>
                <i v-if="!starred.includes(starred,job.id)" @click="addFav(starred,job.id)" class="far fa-star"></i>
                <i v-else @click="removeFav(starred,job.id)" class="fas fa-star"></i>
                <button class="first-button" v-if="applied.includes(job.id)">Applied</button>
                <button class="second-button" v-else @click="applyJob(applied,job.id)" >Apply Now</button>
                <div v-if="openModal" class="message">
                    <div>Candidatura Inviata</div>
                </div>
            </li>
    
        </ul>

        <h1>My Favorite</h1>
        <ul class="jobs-2">
                                    
            <li  v-for='(job,index) in jobs' v-if="starred.includes(job.id)">
                <div class="important">
                <div>Nome azienda: {{job.company}}</div>
                <div>Posizione offerta: {{job.postion}}</div>
                <div>Descrizione lavoro: {{job.description}}</div>
                <div>Annuncio pubblicato il: {{job.created_at}}</div>
                <div>Logo azienda: {{job.logo}}</div>
                <div>Luogo: {{job.city}}</div>
                <div>Tipologia di contratto offerto: {{job.contract}}</div>
            </li>
    
        </ul>

        <h1>My apply</h1>
        <ul class="jobs-3">
                                    
            <li  v-for='(job,index) in jobs' v-if="applied.includes(job.id)">
                <div class="important">
                <div>Nome azienda: {{job.company}}</div>
                <div>Posizione offerta: {{job.postion}}</div>
                <div>Descrizione lavoro: {{job.description}}</div>
                <div>Annuncio pubblicato il: {{job.created_at}}</div>
                <div>Logo azienda: {{job.logo}}</div>
                <div>Luogo: {{job.city}}</div>
                <div>Tipologia di contratto offerto: {{job.contract}}</div>
            </li>
    
        </ul>


    </div>
    
</body>
<script src="js/script.js"></script>
</html>